.footer-social {
  margin-left: 35rem;
  float: right;
}

#nav-item {
  font-size: 2rem;
  margin: 0 .5rem 2rem .5rem;
  border: 1px rgba(#060606, 0.5);
  background: rgba(#060606, 0.5);
  padding: 5px;
}

.mdl-layout-title {
  font-family: 'Patua One', cursive;
}

.mdl-layout__header, .mdl-layout__drawer-button {
  background: url(../images/arkansas.jpg);
}

.mdl-navigation__link, .mdl-mini-footer--link-list {
  font-size: 15px;
  font-family: 'Patua One', cursive;
  font-weight: 500;
  color: #f6f2f0;
}

.mdl-textfield, .mdl-value-item {
  font-family: 'Patua One', cursive;
  font-weight: 600;
  color: #0b0b0b;
}

.mdl-button--raised.mdl-button--colored {
  background: $Brand_Red;
}

.mdl-textfield__label, .mdl-textfield__label:after {
  color: #0b0b0b;
  margin: auto 2rem;
}

.mdl-textfield__input {
  padding: 5px;
  border-bottom: 1px solid;
}

.featured__text {
  margin: 5px 2rem;
  font-size: 1.2rem;

}

.featured__title {
  font-family: 'Patua One', cursive;
  font-size: 1.8rem;
  font-weight: 700;
  margin: 1rem;
  border-bottom: 1px solid;
}

.map {
  transform: rotate(2deg);
  margin: 2rem auto;
}

.card, .single-event {
  display: flex;
  flex-direction: column;
  flex: wrap;
  max-width: 700px;
  border: 5px $Brand_Red solid;
  background: rgba(#c8cacb, 0.7);
  margin: 2rem 8rem;
}

.single-event-list__item-name {
  font-size: 3rem;
  margin: 4rem auto;
  font-family: 'Patua One', cursive;
  font-weight: 600;
  letter-spacing: 2px;
  align-content: center;
}

.single-event-list__item-img {
  align-self: center;
  border: 2px $Brand_Red solid;
  margin: .5rem auto;
}

.section-head {
  margin: 2rem auto;
  font-family: 'Patua One', cursive;
  font-weight: 600;
  letter-spacing: 2px;
}
