.region__title {
  font-family: 'Sigmar One', cursive;
  font-weight: 600;
  margin: 1rem;
  border-bottom: 2px solid;
}

.region-container {
  display: flex;
  flex-flow: wrap;
  margin: auto;
  max-width: 1000px;
  align-items: center;
  font-family: 'Patua One', cursive;
}

.region__info {
  position: relative;
  max-width: 465px;
  border: 3px $Brand_Red solid;
  background: rgba(#c8cacb, 0.7);
  margin: 1rem;
  font-size: 2rem;
}

.region-head {
  font-size: 4rem;
  font-family: 'Sigmar One', cursive;
  border-bottom: 5px #0f0f0f solid;
  margin: 3rem auto;
  align-content: center;;
}

.region__text-ozarks {
  position: absolute;
  top: 220px;
  margin: 2rem;
  font-size: 1.2rem;
}

.map-ozarks {
  transform: rotate(2deg) translate(20px, 20px);
}

.img-ozarks {
  margin: 20rem 1.5rem 4rem 1.5rem;
  border: 2px $Brand_Red solid;
}

.region__text-river-valley {
  position: absolute;
  top: 260px;
  margin: 2rem;
  font-size: 1.2rem;
}

.map-river-valley {
  transform: translate(30px, -20px);
}

.img-river-valley {
  margin: 7.8rem 1.5rem;
  border: 2px $Brand_Red solid;
}

.map-central {
  transform: translateY(30px);
}

.region__text-central {
  position: absolute;
  top: 60px;
  margin: 2rem;
  font-size: 1.2rem;
}

.region__text-central-2 {
  position: absolute;
  bottom: 340px;
  margin: 2rem;
  font-size: 1.2rem;
}

.img-central {
  margin: 8rem 0 1rem 1.5rem;
  border: 2px $Brand_Red solid;
}

.region__text-delta {
  position: absolute;
  top: 70px;
  right: 195px;
  margin: 2rem;
  font-size: 1.2rem;
}

.map-delta {
  transform: translateY(5px);
}

.img-delta {
  margin: 9.8rem 1.5rem 1.5rem 1.5rem;
  border: 2px $Brand_Red solid;
}

.region__text-ouachitas {
  position: absolute;
  top: 60px;
  margin: 2rem;
  font-size: 1.2rem;
}

.map-ouachitas {
  transform: translate(20px, 22px);
}

.img-ouachitas {
  margin: 3rem 1.5rem;
  border: 2px $Brand_Red solid;
}

.region__text-timberlands {
  position: absolute;
  top: 60px;
  margin: 2rem;
  font-size: 1.2rem;
}

.map-timberlands {
  transform: translate(10px, -2px) rotate(1.5deg);
}

.img-timberlands {
  margin: 4.8rem 1.5rem;
  border: 2px $Brand_Red solid;
}
