.region__title {
  font-family: 'Patua One', cursive;
  font-weight: 600;
  margin: 2rem;
  border-bottom: 1px solid;
}

.region-container {
  display: flex;
  flex-flow: wrap;
  margin: auto;
  max-width: 1000px;
  align-items: center;
  font-family: 'Patua One', cursive;
}

.region__info {
  position: relative;
  max-width: 455px;
  border: 3px $Brand_Red solid;
  background: rgba(#c8cacb, 0.5);
  margin: 1rem;
  font-size: 2rem;
}

.region__text-ozarks {
  position: absolute;
  bottom: 5px;
  margin: 2rem;
}

.map-ozarks {
  transform: rotate(2deg);
  margin-left: 1rem;
}

.region__text-river-valley {
  position: absolute;
  bottom: 130px;
  left: 175px;
  margin: 2rem;
}

.region__text-central {
  position: absolute;
  top: 70px;
  margin: 2rem;
}

.region__text-central-2 {
  position: absolute;
  bottom: 10px;
  margin: 2rem;
}

.region__text-delta {
  position: absolute;
  top: 70px;
  right: 175px;
  margin: 2rem;
}

.region__text-ouachitas {
  position: absolute;
  top: 70px;
  margin: 2rem;
}

.map-ouachitas {
  transform: translate(20%, 10%);
}

.region__text-timberlands {
  position: absolute;
  top: 70px;
  margin: 2rem;
}

.map-timberlands {
  transform: translate(10%, -40%) rotate(1.5deg);
}
