@import 'material-design-lite';
$Brand_Red: #861313;

html {
  background: url(../images/arkansas-2.jpg) center;
}

.project-logo {
  width: 1000px;
  margin: auto;
  font-family: 'Patua One', cursive;
}

.guide-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
}

.quide__instruction {
  max-width: 440px;
  border: 3px $Brand_Red solid;
  background: rgba(#c8cacb, 0.5);
  margin: 2rem;
  font-family: 'Patua One', cursive;
  font-size: 2rem;
}

.quide__text {
  margin: 1rem 2rem;
}

.mdl-mini-footer {
  background: url(../images/arkansas.jpg);
}

.featured-container {
  display: flex;
  flex-direction: column;
  max-width: 440px;
  height: 33vh;
  border: 3px $Brand_Red solid;
  background: rgba(#c8cacb, 0.5);
  margin: 2rem;
  font-family: 'Patua One', cursive;
}

.single-event-list__item {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  font-family: 'Patua One', cursive;
  font-weight: 600;
  letter-spacing: 2px;
}

@import 'component';
@import 'submit';
@import 'region';
