@import 'material-design-lite';
$Brand_Red: #861313;
$drop_shadow: 0 6px 0 0 rgba(192, 195, 196, 0.7);

html {
  background: url(../images/arkansas-2.jpg) center;
}

li {
  list-style: none;
}

.guide-logo {
  max-width: 450px;
  max-height: 400px;
  margin: 3rem auto;
  background: url(../images/logo-sign.jpg) center;
  border-radius: 98%;
  box-shadow:
    0 0 0 10px hsl(0, 0%, 80%),
    0 0 0 15px hsl(0, 0%, 90%),
    0 0 0 20px hsl(0, 0%, 95%);
}

.guide-logo__text {
  font-size: 4rem;
  font-family: 'Sigmar One', cursive;
  padding: 2.5rem;
  color: $Brand_Red;
}

.guide-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1040px;
  margin: auto;
}

.guide-left, .guide-right {
  margin: .5rem;
}

.guide-map {
  margin-left: 2rem;
}

.group-month {
  display: flex;
  justify-content: flex-start;
  font-size: 4rem;
  font-family: 'Sigmar One', cursive;
  margin: 4rem 35rem 4rem 5rem;
  border-bottom: 5px #0f0f0f solid;
}

.quide__instruction {
  max-width: 430px;
  border: 3px $Brand_Red solid;
  background: rgba(#c8cacb, 0.8);
  margin: 4.5rem 0 0 5rem;;
  font-family: 'Patua One', cursive;
  font-size: 2rem;
  box-shadow:
    0 0 0 10px hsl(0, 0%, 80%),
    0 0 0 15px hsl(0, 0%, 90%),
    0 0 0 20px hsl(0, 0%, 95%);
}

.quide__text {
  margin: .8rem 1.2rem;
  font-size: 1.3rem;
}

.guide__category {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1000px;
}

.guide__category-item {
  position: relative;
  align-content: center;
  height: 300px;
  width: 300px;
  margin: 2.5rem 1rem;
  border-radius: 50%;
  overflow: hidden;
}

.img-category {
  border: 2px #2b0a0a solid;
}

.guide__category-item-text {
  position: absolute;
  bottom: 65px;

  color: #e7ebec;
  font-size: 2.2rem;
  font-weight: 500;
  font-family: 'Patua One', cursive;
  letter-spacing: 2px;
}

.tint {
	position: relative;
	float: left;
	cursor: pointer;
}

.tint-sports:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(#ad1010, 0.5);
  -moz-transition: background .3s linear;
  -webkit-transition: background .3s linear;
  -o-transition: background .3s linear;
  transition: background .3s linear;
}

.tint-art:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(#2aa7ed, 0.5);
  -moz-transition: background .3s linear;
  -webkit-transition: background .3s linear;
  -o-transition: background .3s linear;
  transition: background .3s linear;
}

.tint-food:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(#ebf017, 0.5);
  -moz-transition: background .3s linear;
  -webkit-transition: background .3s linear;
  -o-transition: background .3s linear;
  transition: background .3s linear;
}

.tint-festivals:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(#db7b36, 0.5);
  -moz-transition: background .3s linear;
  -webkit-transition: background .3s linear;
  -o-transition: background .3s linear;
  transition: background .3s linear;
}

.tint-holiday:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(#3ee31c, 0.5);
  -moz-transition: background .3s linear;
  -webkit-transition: background .3s linear;
  -o-transition: background .3s linear;
  transition: background .3s linear;
}

.tint-nature:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(#d98619, 0.5);
  -moz-transition: background .3s linear;
  -webkit-transition: background .3s linear;
  -o-transition: background .3s linear;
  transition: background .3s linear;
}

.tint:hover:before {
	background: none;
}

.text-art {
  position: absolute;
  left: 20px;
  font-size: 2rem;
}

.text-food {
  position: absolute;
  left: 20px;
}

.text-festivals {
  position: absolute;
  left: 20px;
}

.text-holiday {
  position: absolute;
  left: 40px;
}

.text-nature {
  position: absolute;
  left: 100px;
}

.text-sports {
  position: absolute;
  left: 95px;
}

.mdl-mini-footer {
  background: url(../images/arkansas-4.jpg);
}

.featured-container {
  display: flex;
  flex-direction: column;
  max-width: 435px;
  background: url(../images/scroll-2.jpg);
  margin: 6rem 1rem;
  font-family: 'Patua One', cursive;
  box-shadow:
    0 0 0 10px hsl(0, 0%, 80%),
    0 0 0 15px hsl(0, 0%, 90%),
    0 0 0 20px hsl(0, 0%, 95%);
}

.featured-title {
  font-family: 'Sigmar One', cursive;
  margin: 1.5rem auto;
}

.single-event-list__item {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  font-family: 'Patua One', cursive;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.login-form, .register-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  height: 100vh;
  margin: auto;
}

@import 'component';
@import 'submit';
@import 'region';
