@import 'material-design-lite';

html {
  background: url(../images/arkansas-2.jpg) center;
}

.map {
  transform: rotate(2deg);
  align-self: center;
}

.card {
  background: white;
}

.mdl-layout__header, .mdl-layout__drawer-button {
  background: url(../images/arkansas.jpg);
}

.mdl-navigation__link {
  font-size: 15px;
  font-weight: 600;
}

.region__title {
  margin: 2rem;

}
