@import 'material-design-lite';

html {
  background: url(../images/arkansas-2.jpg) center;
}

.project-logo {
  width: 1000px;
  margin: auto;
  font-family: 'Patua One', cursive;
}

.guide-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
}

.quide__instruction {
  max-width: 450px;
  border: 3px #861313 solid;
  background: rgba(#c8cacb, 0.5);
  margin: 2rem;
  font-family: 'Patua One', cursive;
  font-size: 2rem;
}

.quide__text {
  margin: auto 2rem;
}

.featured__text {
  margin: 5px 2rem;
}

.featured {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  height: 33vh;
  border: 3px #861313 solid;
  background: rgba(#c8cacb, 0.5);
  margin: 2rem;
  font-family: 'Patua One', cursive;
}

.map {
  transform: rotate(2deg);
  margin: 2rem auto;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  border: 3px #861313 solid;
  background: rgba(#c8cacb, 0.4);
  font-size: 2rem;
  margin: auto;
}

.mdl-layout__header, .mdl-layout__drawer-button {
  background: url(../images/arkansas.jpg);
}

.mdl-navigation__link {
  font-size: 15px;
  font-family: 'Patua One', cursive;
  font-weight: 500;
}

.region__title {
  font-family: 'Patua One', cursive;
  font-weight: 600;
  margin: 2rem;
  border-bottom: 1px solid;
}

.section-head {
  margin: 2rem auto;
  font-family: 'Patua One', cursive;
  font-weight: 600;
  letter-spacing: 2px;
}

.mdl-textfield {
  font-family: 'Patua One', cursive;
  font-weight: 600;
  color: #0b0b0b;

}

.mdl-textfield__label, .mdl-textfield__label:after {
  color: #0b0b0b;
  margin: auto 2rem;
}

.mdl-textfield__input {
  padding: 5px;
  border-bottom: 1px solid;
}

.region-container {
  display: flex;
  flex-flow: wrap;
  margin: auto;
  max-width: 1000px;
  align-items: center;
  font-family: 'Patua One', cursive;
}

.region__info {
  position: relative;
  max-width: 475px;
  border: 3px #861313 solid;
  background: rgba(#c8cacb, 0.5);
  margin: 5px;
  font-size: 2rem;
}

.region__text-ozarks {
  position: absolute;
  bottom: 5px;
  margin: 2rem;
}

.map-ozarks {
  transform: rotate(2deg);
  margin-left: 1rem;
}

.region__text-river-valley {
  position: absolute;
  bottom: 130px;
  left: 175px;
  margin: 2rem;
}

.region__text-central {
  position: absolute;
  top: 70px;
  margin: 2rem;
}

.region__text-central-2 {
  position: absolute;
  bottom: 10px;
  margin: 2rem;
}

.region__text-delta {
  position: absolute;
  top: 70px;
  right: 175px;
  margin: 2rem;
}

.region__text-ouachitas {
  position: absolute;
  top: 70px;
  margin: 2rem;
}

.map-ouachitas {
  transform: translate(20%, 10%);
}

.region__text-timberlands {
  position: absolute;
  top: 70px;
  margin: 2rem;
}

.map-timberlands {
  transform: translate(10%, -40%) rotate(1.5deg);
}
