<div class="admin">
  <h3 class="admin-title">Admin Area</h3>
{{#link-to 'admin.submit'}}
  {{mdl-button class="admin-btn" isRaised=true text='Add Event'}}
{{/link-to}}
{{#link-to 'admin.orders.index'}}
  {{mdl-button class="admin-btn" isRaised=true text='Delete Event'}}
{{/link-to}}
</div>


{{outlet}}
