<div class="admin">
  <h3 class="admin-title">Admin Area</h3>

  {{#link-to 'admin.event.new'}}
    {{mdl-button class="new-btn" isRaised=true text='Add Event'}}
  {{/link-to}}
  {{#link-to 'admin.event.edit'}}
    {{mdl-button class="new-btn" isRaised=true text='Edit Event'}}
  {{/link-to}}

  {{outlet}}
</div>
