<i class="fa fa-instagram" id="nav-instagram"></i>
<i class="fa fa-facebook" id="nav-facebook"></i>
<i class="fa fa-twitter" id="nav-twitter"></i>
<i class="fa fa-youtube" id="nav-youtube"></i>
<div class="guide-container">
  <div class="guide-left">
    {{featured-event class="featured"}}
    <div class="quide__instruction">
      <h4 class="region__title">Click A Region For Event Listings! -></h4>
      <p class="quide__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <h4 class="region__title">Submit An Event!</h4>
      <p class="quide__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="guide-right">
    {{arkansas-map class="map"}}
  </div>
  <div class="guide__region-imgs">

  </div>
</div>
