<div class="guide-container">
  {{featured-event class="featured"}}
  {{arkansas-map class="map"}}
  <div class="quide__instruction">
    <h4 class="region__title">Click The Regions For Event Listings! –></h4>
    <p class="quide__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <h4 class="region__title">Submit An Event!</h4>
    <p class="quide__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>
