
<div class="login-form">
  <h2 class="section-head">Login Admin User</h2>
  {{#simple-form class="card" onsubmit="loginUser" as |formValues|}}

    {{input value=formValues.email name="username" placeholder="Username"}}
    {{input value=formValues.password name="password" placeholder="Password"}}

    <button class="login-submit-btn">Submit</button>
  {{/simple-form}}
</div>
