<h2>Ease Down Arkansas</h2>
{{#mdl-nav title='' fixedHeader=true}}
  {{mdl-nav-item name='Submit An Event'   route='guide.submit'}}
  {{mdl-nav-item name='Learn About Regions'  route='guide.regions'}}
  {{mdl-nav-item name='See All Events In The State'  route='guide.see-all'}}


  {{outlet}}
{{/mdl-nav}}
